@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
}

.relleno {
    border: groove 20px rgba(26, 85, 26, 0.801);
    background-image: url(../mods-image/fondo-cubos-verdes-3d_237404-207.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    background-attachment: fixed;
    background-size: cover;
}

#relleno {
    border: groove 20px rgba(26, 85, 26, 0.801);
    background-image: url(../mods-image/fondo-cubos-verdes-3d_237404-207.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    background-attachment: fixed;
    background-size: cover;
}

/* GRID */
.contenedor-g {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: 300px 300px;
    justify-items: center;
}



.contenedor-g div a {
    font-size: 20px;
    text-decoration: none;
}

.encuadre-1 {
    grid-area: bow;
}

.encuadre-1 img {
    height: 250px;
}

.encuadre-1:hover {
    background-color: black;
}

.encuadre-2 {
    grid-area: elytra;

}


.encuadre-2 img {
    height: 250px;
}

.encuadre-2:hover {
    background-color: black;
}

.encuadre-3 {
    grid-area: villager;
}

.encuadre-3 img {
    height: 250px;
}

.encuadre-3:hover {
    background-color: black;
}

.encuadre-4 {
    grid-area: ender;
}

.encuadre-4 img {
    height: 500px;
    width: 500px;
}

.encuadre-4:hover {
    background-color: black;
}

.encuadre-5 {
    grid-area: backpacked;
}

.encuadre-5 img {
    height: 250px;
}

.encuadre-5:hover {
    background-color: black;
}

.encuadre-6 {
    grid-area: toomany;
}

.encuadre-6 img {
    height: 500px;
    width: 500px;
}

.encuadre-6:hover {
    background-color: black;
}

/* titulos */
.encabezado {
    background-image: url(../imagenes/fondo1.jpg);
    font-family: 'Bebas Neue', cursive;
    border-style: 100%;
    padding: 10px 5px 10px 5px;
}

.title {
    color: rgba(255, 191, 132, 0.836);
    text-shadow: black 4px 4px 3px;
    font-style: italic;
    font-size: 25px;
    animation-name: fade-in;
    animation-duration: 1s;
}

.title-dos {
    text-align: center;
    text-decoration: underline;

}

@keyframes fade-in {
    0% {
        transform: translateX(-200px);
    }

    100% {
        transform: translateX(0px);
    }
}

/*navegador*/
span {
    color: rgb(38, 116, 22);
}

.nav-list {
    display: flex;
    justify-content: center;
    gap: 20px;

}

.nav-list-serv {
    color: coral;
}

.nav-list li {
    list-style-type: none;
}

.button {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
}

.button:hover {
    background-color: rgba(122, 190, 12, 0.548);
    text-decoration: underline;
    font-size: 30px;
    transition: 1s;
    text-shadow: black 10px 2px 5px;
}

/* cuadro */
.encuadre {
    color: chocolate;
    font-style: italic;
    border-style: groove;
    border-color: chartreuse;
    border-radius: 5px;
    border-width: 15px;
    background-color: rgba(73, 161, 54, 0.562);
    padding: 20px;
}

.encuadre-dos {
    background-color: chartreuse;
    color: darkred;
    border-width: 10px;
    text-align: center;
}

.encuadre-dos h3 {
    color: rgb(0, 0, 0);
}

.encuadre-dos:hover {
    background-color: rgba(253, 245, 230, 0.664);
    color: rgb(236, 43, 43);

}

.encuadreLista {

    text-align: center;
}

.encuadre-dos a {
    text-decoration: none;

}

.imageOrder {
    display: flex;
    gap: 40px;
}

.ordenanza {
    display: flex;
    gap: 40px;
    justify-content: space-evenly;
}



.ordenanza li {
    border-style: groove;
    border-radius: 10px;
    border-width: 10px;
    padding: 10px;
    list-style-type: none;

}

.ordenanza li:hover {
    background-color: black;
}

.seccionHerramientas {
    display: flex;
    justify-content: center;
    gap: 150px;
}

.seccionHerramientas ul {
    list-style-type: none;
    text-align: center;
    color: rgb(59, 59, 59);
    font-size: 25px;
}

.tituloListado li {
    text-shadow: white 3px 2px 5px;
}

.seccionCrafteos {
    text-align: center;
    background-color: rgba(56, 180, 39, 0.829);
}

#servidor-no-premium {
    text-align: center;
    font-size: 25px;
    border-radius: 15px;
    background-color: rgba(74, 102, 58, 0.616);
}


table {
    text-align: center;
    margin: auto;

}

td a {
    color: firebrick;
    text-decoration: none;
}

.pie {
    text-align: start;
    background-color: rgba(56, 180, 39, 0.829);

}

.registro {
    background-color: none;
    text-align: center;
    display: flex;
    background-image: url(../mods-image/fondo-cubos-verdes-3d_237404-207.jpg);
}

hr {
    height: 20px;
    background-color: black;
}

.hotSale {
    color: brown;
    display: flex;
    justify-content: center;
    padding: 50px;
    border-style: groove;
    background-color: rgba(22, 31, 20, 0.692);
}

.ordenanza li p span {
    text-decoration: line-through;
}

form div {
    padding: 20px;
}

.relleno {
    padding: 100px;
    background-color: rgba(56, 180, 39, 0.829);
}

.oferta {
    position: absolute;
    border-radius: 0px 0px 0px 10px;
    right: 38px;
    bottom: 394px;
    background-color: rgba(165, 42, 42, 0.534);
    color: aliceblue;
    padding: 15px;
}

.lineOver {
    text-decoration: line-through;
}


.premium {
    display: flex;
    justify-content: center;
    gap: 100px;
    text-decoration: none;
    padding: 40px;
}

.premium li {
    list-style-type: none;
    text-decoration: none;
    font-size: 30px;
    border-bottom: 20px solid rgba(176, 221, 176, 0);
}

.servidores {
    text-align: center;
    font-size: 35px;
}

/*Servidor famoso*/
.wrapper {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 500px 700px;
    grid-template-rows: 150px 150px;
    background-color: rgba(32, 136, 0, 0.822);
    color: #444;
}

.box {
    display: flex;
    justify-content: center;
    background-color: #444;
    color: rgb(255, 71, 71);
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.box .a {
    grid-column: 1;
    grid-row: 1;
}


.b {
    grid-column: 2;
    grid-row: 2 / 1;

}

.c {
    grid-column: 2;
    grid-row: 2;
}

.d {
    grid-column: 3;
    grid-row: 2;
}

.wrapper img {
    max-width: 200px;
    max-height: 300px;
}

.registro {
    color: rgb(48, 30, 3);
}


@media screen and (min-width:320px) {

    body {
        background-color: rgb(5, 160, 57);
    }

    .nav-list a {
        font-size: 16px;
    }

    .seccionHerramientas {
        display: block;
    }

    .seccionHerramientas .imageOrder {
        display: block;
    }

    .seccionCrafteos iframe {
        width: 250px;
    }

    .seccionCrafteos img {
        display: none;
    }

    .servidores .premium {
        display: block;
        margin-right: 30px;
    }

    .servidores .premium li a {
        font-size: 20px;
    }

    .servidores h3 {
        font-size: 25px;
        text-align: center;
    }

    .encuadre-tres .ordenanza {
        display: block;
    }

    .contenedor-g {
        display: block;
    }

    .contenedor-g img {
        height: 150px;
        width: 170px;
    }

    .registro {
        display: block;
    }

    .img-steve img {
        width: 200px;
    }

    .wrapper {
        display: block;
    }
}

@media screen and (min-width:1024px) {
    .nav-list a {
        font-size: 30px;
    }

    .seccionHerramientas {
        display: flex;
    }

    .seccionHerramientas .imageOrder {
        display: flex;
    }

    .seccionCrafteos iframe {
        width: 500px;
    }

    .seccionCrafteos img {
        display: flex;

    }

    .servidores .premium {
        display: flex;
        margin-right: 30px;
    }

    .servidores .premium li a {
        text-decoration: none;
        color: black;
        box-shadow: 5px 5px 10px white;
        font-size: 30px;
    }

    .servidores h3 {
        font-size: 25px;
        text-align: center;
    }

    .encuadre-tres .ordenanza {
        display: flex;
    }

    .contenedor-g {
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        grid-template-rows: 300px 300px;
        grid-row-gap: 10px;
        grid-column-gap: 10px;
        grid-template-areas:
            "bow ender  "
            "elytra ender "
            "villager toomany "
            "backpacked toomany "
        ;
        justify-items: center;
    }

    .contenedor-g img {
        height: 200px;
        width: 400px;
    }

    .registro {
        display: flex;
        justify-content: center;
    }

    .img-steve img {
        width: 600px;
    }

    .encuadre-1 {
        grid-area: bow;
    }

    .encuadre-1 img {
        height: 250px;
    }

    .encuadre-2 {
        grid-area: elytra;

    }

    .encuadre-2 img {
        height: 250px;
    }

    .encuadre-3 {
        grid-area: villager;
    }

    .encuadre-3 img {
        height: 250px;
    }

    .encuadre-4 {
        grid-area: ender;
    }

    .encuadre-4 img {
        height: 500px;
        width: 500px;
    }

    .encuadre-5 {
        grid-area: backpacked;
    }

    .encuadre-5 img {
        height: 250px;
    }

    .encuadre-6 {
        grid-area: toomany;
    }

    .encuadre-6 img {
        height: 500px;
        width: 500px;
    }

    .wrapper {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 370px 260px 370px;
        grid-template-rows: 250px 250px;
        background-color: rgba(32, 136, 0, 0.822);
        color: #444;
    }
}