.gridMods {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Karmaland Karmaland textoKarmaland textoKarmaland"
        "Karmaland Karmaland usuarioKarmaland karmalandCreador"
        "tortilla-creador usuarioTortilla tortillaland tortillaland"
        "textoTortilla textoTortilla tortillaland tortillaland";
        img {
                width: 100%;
                height: 100%;
            }
                        .titulo {
                            text-align: center;
                            color: rgb(59, 43, 31);
                            font-size: 50px;
                        }


.Karmaland {
    grid-area: Karmaland;
}

.textoKarmaland {
    grid-area: textoKarmaland;
    background-color:grey ;
    color: white; 
    .text{ font-size: 30px;

    }
}

.usuarioKarmaland {
    grid-area: usuarioKarmaland;
    background-color: grey;
        color: white;
        
}

.karmalandCreador {
    grid-area: karmalandCreador;
    background-color: grey;
}

.tortillaland {
    grid-area: tortillaland;
}

.textoTortilla {
    grid-area: textoTortilla;
    background-color: grey;
    color: white;
    .textTor{
        font-size: 30px;
    }
}

.tortilla-creador {
    grid-area: tortilla-creador;
    background-color: grey;
    text-align: center;
    img{
        filter: drop-shadow(0 0 0.75rem crimson);
        margin-top: 40px;
        height: 350px;
        width: 200px;
    }
}

.usuarioTortilla {
    grid-area: usuarioTortilla;
    background-color: grey;
    color: white;
}
.creador{display: flex;
   text-align: center;
    img{
        filter: drop-shadow(0 0 0.75rem crimson);
    width: 200px;
    height: 300px;
    }
   
    
}
}

/*carousel*/
.carousel-item {
    div {
        h5 {

            height: 5px;

            display: flex;
            background-color: aliceblue;
            justify-content: center;
            font-weight: 200px;
            font-size: 100px;
            color: rgb(8, 4, 4);
            text-align: center;
            margin-left: 100px;
            margin-top: 200px;
            border: 10px groove black !important;
        }

        p {
            display: flex;
            justify-content: center;
            text-align: center;
            font-size: 30px;
            text-decoration: underline;
            color: black;
            margin-top: 300px;
        }
    }
}