@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;


}

@import "variables";
@import "footer";
@import "header";
@import "grid";
@import "cuadroLista";
@import "media";