@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;


}

@import "variables";
@import "footer";


.relleno {
    border: groove 20px $colorRelleno;
    background-image: url(../mods-image/fondo-cubos-verdes-3d_237404-207.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    background-attachment: fixed;
    background-size: cover;

    .pagination {
        display: flex;
        justify-content: center;
    }

    .servidores {
        text-align: center;
        font-size: 35px;

        .premium {
            display: flex;
            justify-content: center;
            gap: 100px;
            text-decoration: none;
            padding: 40px;

            li {
                list-style-type: none;
                text-decoration: none;
                font-size: 30px;
                border-bottom: 20px solid rgba(176, 221, 176, 0);
            }
        }
    }

    /*grid de mods*/
    .contenedor-g {
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        grid-template-rows: 300px 300px;
        justify-items: center;

        div a {
            font-size: 20px;
            text-decoration: none;
        }


    }
}

/*header*/


#relleno {
    border: groove 20px $colorRelleno;
    background-image: url(../mods-image/fondo-cubos-verdes-3d_237404-207.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    background-attachment: fixed;
    background-size: cover;
}

.encabezado {
    background-color: #1f2829;
    font-family: 'Bebas Neue', cursive;
    border-style: 100%;
    padding: 10px 5px 10px 5px;
    display: flex;
    justify-content: space-around;
    padding: 20px;

    .container-fluid {
        img {
            width: 50px;
        }
    }

    .title {
        padding-left: 30px;
        padding-right: 30px;
        color: rgba(255, 191, 132, 0.836);
        text-shadow: black 4px 4px 3px;
        font-style: italic;
        font-size: 25px;
        animation-name: fade-in;
        animation-duration: 1s;

        .title-dos {
            text-align: center;
            text-decoration: underline;

        }

        span {
            color: rgb(38, 116, 22);
        }
    }

    @keyframes fade-in {
        0% {
            transform: translateX(-200px);
        }

        100% {
            transform: translateX(0px);
        }
    }

    .nav-list {
        .nav-list-serv {
            color: coral;
        }

        display: flex;
        justify-content: center;
        gap: 20px;

        li {
            list-style-type: none;
        }

        .button {
            color: rgb(255, 255, 255);
            text-decoration: none;
            font-size: 20px;


        }

        .button:hover {
            background-color: rgba(122, 190, 12, 0.548);
            text-decoration: underline;
            font-size: 30px;
            transition: 1s;
            text-shadow: black 10px 2px 5px;
        }
    }
}

.encuadre {
    color: chocolate;
    font-style: italic;
    border-style: groove;
    border-color: chartreuse;
    border-radius: 5px;
    border-width: 15px;
    background-color: $colorRelleno;
    padding: 20px;

    .seccionHerramientas {
        ul {
            list-style-type: none;
            text-align: center;
            color: rgb(59, 59, 59);
            font-size: 25px;
        }

        display: flex;
        justify-content: center;
        gap: 150px;

        .imageOrder {
            display: block;
            gap: 40px;
        }
    }

    .tituloListado {
        li {
            text-shadow: white 3px 2px 5px;
        }
    }

    .encuadre-dos {
        background-color: chartreuse;
        color: darkred;
        border-width: 10px;
        text-align: center;

        h3 {
            color: rgb(0, 0, 0);
        }

        a {
            text-decoration: none;
        }

        .encuadre-dos:hover {
            background-color: rgba(253, 245, 230, 0.664);
            color: rgb(236, 43, 43);
        }
    }
}

.encuadreLista {

    text-align: center;
}

.encuadre-dos a {
    text-decoration: none;

}



/*portfolio*/

.registro {
    background-color: none;
    text-align: center;
    display: flex;
    background-image: url(../mods-image/fondo-cubos-verdes-3d_237404-207.jpg)
}

/*grid mas cositas*/
.encuadreLista {
    text-align: center;

    .ordenanza {
        display: flex;
        gap: 40px;
        justify-content: space-evenly;

        li {
            border-style: groove;
            border-radius: 10px;
            border-width: 10px;
            padding: 10px;
            list-style-type: none;

            p span {
                text-decoration: line-through;
            }
        }

        li:hover {
            background-color: black;
        }
    }
}

form div {
    padding: 20px;
}

/*servfamoso*/
.gridMods {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "imagen imagen textOne"
        "TextTwo imageTwo imageTwo"
        ". . .";

    img {
        width: 100%;
        height: 300px;
    }

    .imagen {
        grid-area: imagen;
    }

    .imageTwo {
        grid-area: imageTwo;
    }

    .textOne {
        grid-area: textOne;
        color: white;
        background-color: black;
        font-size: 30px;
        text-align: center;
    }

    .TextTwo {
        grid-area: TextTwo;
        color: white;
        background-color: black;
        font-size: 30px;
        text-align: center;
    }
}

/*tabla*/
table {
    text-align: center;
    margin: auto;

    td a {
        color: firebrick;
        text-decoration: none;
    }
}

/*carosel*/
.carousel-item {
    div {
        h5 {

            height: 5px;

            display: flex;
            background-color: aliceblue;
            justify-content: center;
            font-weight: 200px;
            font-size: 100px;
            color: rgb(8, 4, 4);
            text-align: center;
            margin-left: 100px;
            margin-top: 200px;
            border: 10px groove black !important;
        }

        p {
            display: flex;
            justify-content: center;
            text-align: center;
            font-size: 30px;
            text-decoration: underline;
            color: black;
            margin-top: 300px;
        }
    }
}

/*oferta*/
.oferta {
    position: absolute;
    border-radius: 0px 0px 0px 10px;
    right: 38px;
    bottom: 394px;
    background-color: rgba(165, 42, 42, 0.534);
    color: aliceblue;
    padding: 15px;

}

.lineOver {
    text-decoration: line-through;
}

#servidor-no-premium {
    text-align: center;
    font-size: 25px;
    border-radius: 15px;
    background-color: rgba(74, 102, 58, 0.616);
}

/*Servidor famoso*/
.wrapper {
    display: grid;
    justify-content: center;
    grid-gap: 50px;
    grid-template-columns: 500px 700px;
    grid-template-rows: 150px 150px;
    background-color: rgba(32, 136, 0, 0.822);
    color: #444;

    img {
        max-width: 200px;
        max-height: 300px;
    }
}

.box {
    display: flex;
    justify-content: center;
    background-color: #444;
    color: rgb(255, 71, 71);
    border-radius: 5px;
    padding: 10px;
    font-size: 150%;

    .a {
        grid-column: 1;
        grid-row: 1;
    }


    .b {
        grid-column: 2;
        grid-row: 2 / 1;

    }

    .c {
        grid-column: 2;
        grid-row: 2;
    }

    .d {
        grid-column: 3;
        grid-row: 2;
    }
}


.registro {
    color: rgb(48, 30, 3);
}

.progreso {
    padding: 20px;
}

.progress {
    height: 30px;
}


/*media*/
@media screen and (min-width:320px) {

    body {
        background-color: rgb(5, 160, 57);
    }

    .nav-list a {
        font-size: 16px;
    }

    .seccionHerramientas {
        display: block;

        .seccionCrafteos iframe {
            width: 250px;
        }

        .imageOrder {
            display: block;
        }
    }

    .servidores {
        display: block;

        .premium {
            display: block;
            margin-right: 30px;

            li a {
                font-size: 20px;
            }

            h3 {
                font-size: 25px;
                text-align: center;
            }
        }



        .encuadre-tres .ordenanza {
            display: block;
        }
    }



    .contenedor-g {
        display: block;

        img {
            height: 150px;
            width: 170px;
        }
    }

    .registro {
        display: block;
    }

    .img-steve img {
        width: 200px;
    }

    .wrapper {
        display: block;
    }
}

@media screen and (min-width:1024px) {
    .nav-list a {
        font-size: 30px;
    }

    .seccionHerramientas {
        display: flex;

        .imageOrder {
            display: flex;
        }
    }

    .seccionCrafteos {
        iframe {
            width: 500px;
        }

        img {
            display: flex;

        }

        .servidores {
            h3 {
                font-size: 25px;
                text-align: center;
            }

            .premium {
                display: flex;
                margin-right: 30px;

                li a {
                    text-decoration: none;
                    color: black;
                    box-shadow: 5px 5px 10px white;
                    font-size: 30px;
                }
            }
        }


    }





    .encuadre-tres .ordenanza {
        display: flex;
    }

    .contenedor-g {
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        grid-template-rows: 300px 300px;
        grid-row-gap: 10px;
        grid-column-gap: 10px;
        grid-template-areas:
            "bow ender  "
            "elytra ender "
            "villager toomany "
            "backpacked toomany "
        ;
        justify-items: center;

        img {
            height: 200px;
            width: 400px;
        }
    }

    .registro {
        display: flex;
        justify-content: center;
    }

    .img-steve img {
        width: 600px;
    }


    .wrapper {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 370px 260px 370px;
        grid-template-rows: 250px 250px;
        background-color: rgba(32, 136, 0, 0.822);
        color: #444;
    }
}